
@font-face {
    font-family: Ramabhadra-Regular ;
    src: url('/fonts/AlegreyaSans-Regular.ttf');
}

body {
     background-color: black;
     color : white;
     font-family: Ramabhadra-Regular; 
  
}

 
.videobtn , .audiobtn{
  
    display: inline-block;
    height: 90px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 21px 50px;
    margin-bottom: 2rem;
}

.selectmenu {
    word-wrap: normal;
    border: none;
    width: 100%;
    height: 50px;
}