@font-face {
  font-family: Ramabhadra-Regular;
  src: url("/fonts/Segoe UI.ttf");
}

body {
  background-color: black;
  font-family: Ramabhadra-Regular;
  height: 100vh;
  overflow: hidden;
}

.logomlewi {
  height: 11rem;
  position: relative;
  text-align: center;
}
.mainScreen {
  height: 100vh;
  width: 100%;
  background: linear-gradient(black, black),
    linear-gradient(
      120deg,
      #cd5243,
      #cd5243 10%,
      #f19b27 10%,
      #f19b27 20%,
      #cd5243 20%,
      #cd5243 30%,
      #f19b27 30%,
      #f19b27 40%,
      #cd5243 40%,
      #cd5243 50%,
      #cd5243 50%,
      #cd5243 60%,
      #f19b27 60%,
      #f19b27 70%,
      #cd5243 70%,
      #cd5243 80%,
      #f19b27 80%,
      #f19b27 90%,
      #cd5243 90%
    );
  padding: 10px 10px;
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;
}

.header {
  height: 14vh;
}
.mediacontent {
  height: 85vh;
  display: flex;
  justify-content: center;
}
.header .title {
  color: white;
  font-size: 6rem;
}
.videoplayer {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
}
.videocontainer {
  position: relative;
  width: 100vw;

  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionphase {
  margin-top: 14rem;
}
.questionphase h2,
.questionphase li {
  color: white;
}

.questionphase h2 {
  font-size: 4rem;
}

.questionphase li {
  font-size: 2rem;
}

.team {
  position: absolute;
  width: 185%;
  top: 20px;
  left: 35px;
}
.team p {
  color: white;
  font-size: 2rem;
}
.team p strong {
  margin-right: 2rem;
}
.dma9 {
  width: 65px;
  margin-left: 13px;
}

.question {
  position: absolute;
  top: 31vh;
}

.question .thequestion {
  color: white;
  font-size: 3.5rem;
}

.question .propositions {
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
}

.teamname-form {
  position: absolute;
  top: 43vh;
  left: 29vw;
}

.teamname-form h1 {
  color: white;
  font-size: 3rem;
}

.teamname-form button,
.abtn {
  display: inline-block;
  height: 90px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  padding: 21px 50px;
  position: absolute;
  left: 35%;
  top: 10rem;
}
#teamname {
  width: 50%;
  position: absolute;
  left: 24%;
  top: 95%;
}
.dashboard-teams {
  position: absolute;
  top: 17rem;
  left: 17%;
  max-width: 100%;
}

.dashboard-teams h1 {
  color: white;
}

#timer {
  font-size: 4rem;
  position: absolute;
  top: 7rem;
  color: white;
}

.wrong {
  position: absolute;
  left: 13vw;
  font-size: 15rem;
}

.correct {
  position: absolute;
  left: 10vw;
  font-size: 9rem;
  top: 10vh;
}

.dashboard-teams .thequestion {
  font-size: 2.5rem;
}

.dashboard-teams .propositions {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.questionimg {
  position: absolute;
  right: -10vw;
  top: -8vw;
  max-width: 19rem;
}

#fast-result {
  position: absolute;
  bottom: 0;
  color: white;
}
